{% extends 'base.html' %}
{% macro displayArticles(article_list) %}

{% for article in article_list %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
                <div class="card-header"><img class="card-img-top" style="margin-top:20px;" src="{{article.urlToImage}}" alt="article image"></div>
                <h3 class="card-title">{{ article.title }}</h3>
                    <br>
                    <div class="card-body">
                        <p class="card-text">{{ article.content|truncate(100) }}</p>
                        <p class="card-text">Published by: {{ article.name}}
                        </p>
                        <p class="card-text">Prepared by: {{ article.author}}</p>
                        <a href="{{ article.url }}">Full Article...</a>
                    </div>
            </div>
            <br>
        </div>
    </div>
{%endfor%}
</div>
{%endmacro%}
        