{% macro displayNewsList (news_list) %}

    {% for news in news_list %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="col-md-">
                <div class="card-title">
                    <h3>{{news.name}}</h1>
                </div>
                </div>
                <div class="col-md-6">
                <div class="card-body">
                    <p>{{news.description}}</p>
                    <p>Category: {{news.category}}</p>
                    <p>Language:{{news.language}}</p>
                    <!-- <a href="{{ news.url }}">Website:</a> -->
                    <p>Website:<a href="{{ news.url }}">{{news.url}}</a> </p>

                    <a href="/articles/{{ news.id }}" class="btn btn-primary">Check Articles</a>
                </div>

                
            </div>
            <!-- <button type="submit" class="btn btn-success"> View Articles </button> -->
            
            </div>
        </div>
    </div>
    {% endfor %}
{% endmacro %}
